# Dependencies
node_modules/
.pnpm-store/

# Build
dist/
build/
.next/
out/

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*

# Environment
.env
.env.local
.env.*.local

# Prisma
prisma/migrations/

# Coverage
coverage/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db


# NestJS
apps/server/dist/

# NextJS
apps/web/.next/